header{
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    background-size: 40%;
    height: 100px;
    line-height: 100px;
}

.header-image{
    width: 200px;
    
}

#photos{
    font-size: 10px;
}


table{
    table-layout: fixed;
    width: 100%;
    
}

#firstline{
    background-color: rgb(0, 153, 255);
    text-align: left;
    color: white;
}



#image-1{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    color: white;
    max-width: inherit;
}

#image-2{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    color: white;
    
}

h3{
    color: gray;
}
